<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Good Night!</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="/static/js/myJs.js" defer></script>
</head>
<body class="default">
    <div>
        <input id="app-time" type="time" name="appt-time" value="06:45">
        <button id="start-button">Set alarm</button>
        <button id="wake-up">wakeup</button>
        <div id="clock">00:00:00</div>
        <div id="stop-button"></div>
    </div>
</body>
</html>
